*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:arial,sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
}

.nav-logo{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #0f1111;
}
.logo img{
    background-size: cover;
    height: 50px;
    width: 100px;
}
.logo{
    border: 1.5px solid transparent;
}
.logo:hover{
    border: 1.5px solid white;
}

